{% extends 'base.html' %}
{% load staticfiles %}


{%block naslov_strane%} Početna {{block.super}} {% endblock %}

<style>
{% block stile%}
.hr {
    border-top: 2px solid #000;
}
.jumbotron {background-color: #ffd706;
            color:#000 ;    
}
{% endblock%}
</style>
    
    {% block jumbotron %}
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Projekat SeismoPortal</h1>
            <p class= "text-center">Projekat predstavlja rezultat master rada <br><b>"ZRisk TEMA MASTER RADA"</b></br> iz predmeta Veb kartogravija, Građevinskog fakulteta Univerziteta u Beogradu, odskea za gedeziju i geoinformatiku.</p>
            <p class="text-center">
            <a class="btn btn-lg btn-default" href="/" role="button"> <i class="fa fa-github fa-2x" aria-hidden="true"></i>GitHub &raquo;</a>
            </p>
        </div>
        </div>
    {% endblock%}