{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{%block naslov_strane%} Registracija {{block.super}} {% endblock %}
{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Registruj se i daj svoj doprinos u proračunu štete od zemljotresa</h1>

<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
</form>
</div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Želiš li da se <a href="{% url 'auth_login' %}">Uloguješ?</a>?</p>
</div>
</div>


{% endblock %}
